*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: black;
}
h1{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
}
.card{
    height: 300px;
    width: 350px;
    background-color: white;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    object-position: bottom;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
    border-radius: 10px;
}
.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(transparent, black);
    bottom: -40%;
    border-radius: 0 0 10px 10px;
    transition: all ease 0.3s;
}
.bottom h4{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.bottom h3{
    color: white;
    font-size: 20px;
    
}
.card:hover .bottom{
    bottom: 0;
}